:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;

  --clr-page-bg: hsl(235, 21%, 11%);
  --clr-card-bg: hsl(235, 24%, 19%);
  --clr-white: white;
  --clr-blue: hsl(220, 98%, 61%);
  --clr-green: hsl(192, 100%, 67%);
  --clr-pink: hsl(280, 87%, 65%);
  --clr-color-1: hsl(236, 33%, 92%);
  --clr-color-2: hsl(234, 39%, 75%);
  --clr-color-3: hsl(234, 11%, 52%);
  --clr-color-4: hsl(237, 12%, 36%);
  --clr-color-5: hsl(233, 14%, 35%);
  --clr-color-6: hsl(235, 19%, 24%);

  --box-shadow: hsl(0, 0%, 0%, 0.1);

  --border-radius: 0.5rem;
  --fz-1: 1.3rem;
  --fz-2: 1.2rem;
  --fz-3: 1.1rem;
  --fz-4: 1rem;

  --img-bg: url("/assets/images/bg.jpg");
}
